body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header.hidden {
    top: -100px; /* Adjust as needed to completely hide the header */
}

header.transparent {
    background-color: rgba(255, 112, 68, 0.748);
}

header {
    background-color: #fc6f1e;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Centering the nav within the header */
    align-items: center; /* Vertically center the nav items */
    transition: top 0.3s, background-color 0.3s;
}

.nav-bar {
    display: flex;
    height: 50px;
    justify-content: space-between; /* Spaces items evenly between the start and end */
    align-items: center;
    width: 80%; /* Adjust as needed to fit the design */
}

.logo-suitmedia img {
    height: 90px;
    width: 120px; /* Maintain aspect ratio */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Add space between nav items */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    white-space: nowrap;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd7b2; /* Slightly lighter color on hover */
}

nav a.active {
    position: relative;
    color: white;
}

nav a.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px; /* Adjust position to align underline */
    transform: translateX(-50%);
    width: 38px; /* Length of the underline */
    border-bottom: 4px solid white; /* Style of the underline */
}

.banner {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.banner-image {
    background-image: url(img/banner.jpg);
    opacity: 65%;
    filter: saturate(0%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    clip-path: polygon(0 0%, 100% 0%, 100% 60%, 0% 90%);
    position: relative;
    z-index: 1;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.178), #202020);
    clip-path: polygon(0 0%, 100% 0%, 100% 60%, 0% 90%);
    z-index: 2; /* Ensure it's above the image */
}

.banner-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Arial, sans-serif;
}

/* Tambahkan gaya untuk teks */
.banner-text h1 {
    font-size: 2.5em;
    margin: 0;
}

.banner-text p {
    font-size: 1.2em;
    margin: 0;
}

main {
    padding: 20px;
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 30px; /* Adjust top padding to accommodate the fixed header */
}

.content-header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content-header span {
    padding-top: 10px;
    font-size: 14px;
    color: #333;
}

.content-controls {
    display: flex;
    align-items: center;
}

.content-controls label {
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    color: #333;
}

.content-controls select {
    margin-right: 50px;
    padding: 11px;
    width: 135px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    width: 220px;
    overflow: hidden;
    box-shadow: -3px -3px 9px #dedede,
						3px 3px 7px #cdcdcd;
    position: relative;
}

.card img {
    width: 100%;
    height: 150px; /* Consistent height for all images */
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-content p {
    margin: 0;
    color: #555;
}

.card-content h3 {
    font-size: 15px;
    color: #333;
    max-height: 4.5em; /* 1.5em per baris * 3 baris */
    line-height: 1.5em; /* Menyesuaikan tinggi setiap baris */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Membatasi ke 3 baris */
    -webkit-box-orient: vertical;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Menambah jarak dari elemen di atas */
}

.pagination button {
    border: none;
    background-color: transparent;
    font-size: 18px; /* Ukuran simbol */
    cursor: pointer;
    padding: 10px 15px; /* Jarak di dalam tombol */
    margin: 0 5px; /* Jarak antar tombol */
    color: #333; /* Warna teks */
    transition: color 0.3s, background-color 0.3s; /* Animasi saat hover */
    border-radius: 4px; /* Sudut tombol */
}

.pagination button:hover {
    color: #fca151; /* Warna teks saat hover */
    background-color: #f1f1f1; /* Warna latar belakang saat hover */
}

.pagination button:disabled {
    color: #ccc; /* Warna teks untuk tombol yang dinonaktifkan */
    cursor: not-allowed; /* Kursor saat tombol dinonaktifkan */
}

#pagination-numbers {
    display: flex;
    gap: 2px; /* Jarak antar tombol halaman */
}

#pagination-numbers button.page-number {
    margin: 2px;
    padding: 5px 8px;
    border: 0px solid #ddd;
    border-radius: 5px;;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

#pagination-numbers button.page-number.active {
    background-color: #fc6f1e;
    color: #fff;
}

#pagination-numbers button.page-number:hover {
    background-color: #f1f1f1;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
